# Add files here to ignore them from prettier formatting
/build
/dist

/test
/coverage

node_modules
/pnpm-lock.yaml
.pnpm-store

packages/**/generators/**/files/**/*.html
packages/**/generators/**/files/**/*.json
packages/**/schematics/**/files/**/*.html
packages/**/schematics/**/files/**/*.json

/.nx/cache
/.nx/workspace-data

/.vscode
/.idea
/.fleet
/.github
/.verdaccio/build/local-registry
/.env
CODEOWNERS

tmp
*.log
